* {
  font-family: -apple-system, Helvetica;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

span.sent {
  flex: 0 0 auto;
  align-self: flex-end;
  color: white;
  background-color: rgb(45,156,252);
}

span.response {
  flex: 0 0 auto;
  color: black;
  background-color: rgb(233,233,235);
}
div#messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div#messages span {
  border-radius: 0.9em;
  margin: 0.3em;
  padding: 0.4em 0.6em;
}

form#chat {
  width: 100vw;
  max-width: 400px;
  display: flex;
}

form#chat input {
  flex: 1 1 80%;
}

form#chat button {
  flex: 1 1 20%;
}

input, button {
  font-size: 1rem;
  -webkit-appearance: none;
  appearance: none;
  border: thin solid grey;
}
button {
  border-radius: 0.3em;
  background-color: #eee;
}

form#answer {
  width: 100vw;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

form#answer * {
  flex: 1 1 100%;
}

form#answer.hidden {
  display: none;
}

