:root {
  --text-color: black;
  --background-color: white;
  --secondary-background-color: #ddd;
  --tertiary-background-color: rgb(220,223,229);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: black;
    --secondary-background-color: #555;
    --tertiary-background-color: rgb(35,32,26);
  }
}
@font-face {
  font-family: "Baseball";
  src: url('/dice-baseball/fonts/font.ttf') format('truetype'),
       url('/dice-baseball/fonts/font.woff2') format('woff2'),
       url(/dice-baseball/fonts/font.svg#baseball) format('svg');
}

* {
  font-family: -apple-system, Helvetica;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--background-color);
}

.hidden {
  display: none;
}

body {
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
}

button:disabled {
  color: var(--secondary-background-color);
}

noscript div {
  position: fixed;
  top: 0.5em;
  width: calc(100% - 2em);
  z-index: 5;
  border-radius: 0.3em;
  border: thin solid sienna;
  background-color: orangered;
  padding: 1em;
  text-align: center;
  margin: 1em;
  color: white;
  font-weight: bold;
}
span.sent {
  flex: 0 0 auto;
  align-self: flex-end;
  color: white;
  background-color: rgb(45,156,252);
}

span.response {
  flex: 0 0 auto;
  color: black;
  background-color: rgb(233,233,235);
}
div#messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div#messages span {
  border-radius: 0.9em;
  margin: 0.3em;
  padding: 0.4em 0.6em;
}

form#chat {
  width: 100vw;
  max-width: 400px;
  display: flex;
}

form#chat input {
  flex: 1 1 80%;
}

form#chat button {
  flex: 1 1 20%;
}

input, button, a.button {
  font-size: 1rem;
  -webkit-appearance: none;
  appearance: none;
  border: thin solid grey;
}
button, a.button {
  border-radius: 0.3em;
  background-color: #eee;
}
a {
  text-decoration: none;
}
form#answer {
  width: 100vw;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

form#answer * {
  flex: 1 1 100%;
}

form#answer.hidden {
  display: none;
}
#x-snap {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-color: white;
}
#x-snap > div {
  /* height: 100vh; */
  overflow-y: hidden;
  overflow-x: hidden;
}
#menu button, #menu a.button {
  margin: 1em;
  width: calc(100% - 2em);
  padding: 0.5em 0;
}
#menu a.button {
  display: block;
  color: var(--text-color);
  text-align: center;
}
@media screen and (min-width: 500px) {
  #menu {
    flex: 1 5 0%;
    position: absolute;
    min-width: 35vw;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(0.7em);
    backdrop-filter: blur(0.7em);
  }
  #board {
    flex: 1 1 60%;
    transform: scale(0.8);
    filter: blur(0.2em);
  }
  #home, #away {
    flex: 1 1 30%;
    transform: scale(0.8);
    filter: blur(0.2em);
  }
  div#indicator {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #x-snap {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }
  #x-snap > div {
    scroll-snap-stop: always;
    /* height: 100vh; */
    /* width: 100vw; */
    overflow-y: hidden;
    scroll-snap-align: center;
    flex: 0 0 100%;
    order: 0;
  }
  div#indicator {
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    left: 0;
    width: 100%;
    letter-spacing: 1em;
    text-align: center;
    color: #222;
    background-color: var(--background-color);
    padding-bottom: 0.5em;
  }
  #home, #away h2 {
    font-family: Baseball;
  }
  #x-snap #menu {
    overflow-y: auto;
  }
  #menu button {
    flex: 0 0 auto;
  }
}

#board {
  display: flex;
  flex-direction: column;
  position: relative;
}

.die {
  font-size: 25vw;
  flex: 1 1 33%;
  align-self: center;
  text-align: center;
}
#outcome {
  flex: 0 0 100%;
  text-align: center;
  font-size: 10vw;
}
/* svg */

svg {
  width: 100%;
  transition: filter 0.6s ease-in-out;
}
svg.gameover {
  filter: grayscale(1);
  pointer-events: none;
}

rect.field  {
  fill: lightgreen;
  fill: url(#lawnmower);
}
path.infield  {
  fill: sienna;
}
path.line {
  stroke: white;
  stroke-width: 1px;
  fill: none;
}
rect.base {
  stroke: black;
  fill: white;
}
rect.base.occupied {
  fill: black;
}
#roll-result {
  display: flex;
  position: absolute;
  top: 100vh;
  flex-wrap: wrap;
  width: 100%;
  -webkit-backdrop-filter: blur(0.3em);
  backdrop-filter: blur(0.3em);
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: calc(2em + env(safe-area-inset-bottom));
  z-index: 8;
  border-top: thin solid black;
}
button#roll {
  bottom: calc(2em + env(safe-area-inset-bottom));
  width: calc(100% - 2em);
  margin: 1em;
  margin-bottom: calc(2em + env(safe-area-inset-bottom));
  padding: 1em;
}

#scoreboard {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 28% auto 10% 10%;
  grid-template-areas: 
    "info inning hit run"
    "away inning away-hit away-run"
    "home inning home-hit home-run";
}
#innings {
  grid-area: inning;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(9, 11%);
  overflow-x: auto;
}
#info {
  transform-origin: 0 0;
  background-color: white;
  white-space: nowrap;
}
#home-team {
  grid-area: home;
}
#away-team {
  grid-area: away;
}

#home-hits {
  grid-area: home-hit;
}
#home-runs {
  grid-area: home-run;
}

#away-hits {
  grid-area: away-hit;
}
#away-runs {
  grid-area: away-run;
}

#hit {
  grid-area: hit;
}
#run {
  grid-area: run;
}
.atbat {
  font-weight: bold;
}
#batter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 auto;
}
#batter #name {
  font-size: 8vw;
  flex: 1 1 70%
}
#batter #stat {
  flex: 1 1 30%
}
#batter #bats {
  /* font-size: 2vw; */
  flex: 0 0 100%
}

#runners > span {
  position: absolute;
  background-color: white;
  border: thin black solid;
  padding: 0.2em;
  border-radius: 0.2em;
}

#runners > span:empty {
  display: none;
}

.flex {
  display: flex;
}
.vertical {
  flex-direction: column;
}

ol#rules {
  padding: 2em;
}

summary:focus {
  outline: none;
}
#menu details {
  margin-bottom: calc(2em + env(safe-area-inset-bottom));
}
#banners {
  position: -webkit-sticky;
  position: sticky;
  bottom: calc(2em + env(safe-area-inset-bottom));
  background-color: var(--background-color);
}